/* Light Colors */
@define-color seasalt #f8f9fA;
@define-color platinum #e1e2e4;
@define-color platinum2 #d2d5d8;
@define-color french-gray #b2b6ba;
@define-color dim-gray #696e71;

/* Dark Colors */
@define-color night #111111;
@define-color eerie-black #232323;
@define-color jet #343434;
@define-color outer-space #464646;
@define-color davy-gray #575757;

* {
  font-size: 16px;
  font-family: "CaskaydiaMono Nerd Font", "Cascadia Code", monospace;
  font-weight: normal;
}

window#waybar {
  background-color: transparent;
  color: @seasalt;
}

window#waybar.empty .modules-center {
  background-color: transparent;
}

.module {
  margin: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background: alpha(@night, 0.7);
}

tooltip {
  background: @night;
  border-radius: 0.25rem;
  padding: 0.5rem;
  border: none;
}

#clock:hover,
#custom-pacman:hover,
#custom-notification:hover,
#bluetooth:hover,
#network:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#keyboard-state:hover {
  transition: all .3s ease;
  background-color: alpha(@blue, 0.2);
  border-radius: 6px;
}

#clock {
  padding: 0.25rem 0.5rem;
  transition: all .3s ease;
}

#workspaces {
  padding: 0.25rem 0.5rem;
}

#workspaces button {
  all: unset;
  padding: 0.25rem 0.5rem;
  transition: all .2s ease;
  color: alpha(@platinum, 0.5);
  background-color: transparent;
}

#workspaces button.active {
  color: @platinum;
}

#cpu,
#memory,
#pulseaudio,
#temperature,
#keyboard-state,
#tray {
  padding: 0.25rem 0.5rem;
  transition: all .3s ease;
}

#tray menu * {
  padding: 0px 5px;
  transition: all .3s ease;
}

#tray menu separator {
  padding: 0px 5px;
  transition: all .3s ease;
}
